.grid{
    display: grid; 
}

.welcome { 
    text-align: center; 
    font-size: 65px;
    line-height: 70px;
    letter-spacing: -2px;
    font-weight: bold;
    font-family: Lato;   
    font-style: italic; 
    font-variant: normal; 
    font-weight: 700; 

}

.whiteback {
    background-color: white;
    opacity: 0.9;
    align-content: center; 
    height: 1000px; 
    width: 85%;
    grid-column-start: 3; 
    grid-column-end: 8; 
}