.title {
    background-color: rgba(228, 220, 220, 0.879); 
    font-size: 51px;
    line-height: 50px;
    letter-spacing: -2px;
    font-weight: bold;
    font-family: Lato;   
    font-style: italic; 
    font-variant: normal; 
    font-weight: 700; 
    
}

.mapBackground {
    background-color: white;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
    width: 50%;
    /* text-align: center; 
    align-content: center;  */
    display:flex; 
}

.mapContainer{
   flex: 3;

}