div, p {
  padding: 0px 15px; 
}

.keys {
  padding-left: 100px;
  padding: 30px;
  height: 13%;
  width: 86%;
  outline-color: whitesmoke; 
  background-color: whitesmoke; 
  color: rgb(0, 0, 0);
  text-align: center;
}

.border {
  border-style: groove;
  border-width: 20px; 
  width: 90%; 
  background-color: whitesmoke; 

}

.head {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -2px;
  font-weight: bold;
  font-family: Lato;   
  font-style: italic; 
  font-variant: normal; 
  font-weight: 550; 
}

.subs{
  font-size: 26px;
  line-height: 28px;
  font-weight: bold;
  font-family: Lato;   
  font-style: italic; 
  font-variant: normal; 
  font-weight: 500; 
  border-style: inset;   
}

#truckIcons {
  padding: 3px; 
}

.wrapper {
  display:flex;
  /* margin: 0 auto; */

}

.map1 {
    /* grid-column-start: 1;
    grid-row: 1 ; */
    /* padding-left: 20px;  */
    /* width: 25%; 
    height: 50%; */
}
