.keys {

  grid-column: 1 ;
  grid-row: 2 ;
  padding-left: 100px;
  height: 600px;
  width: 200px;
  background-color: whitesmoke;
  outline-color: rgb(191, 191, 191); 
  background-color: whitesmoke; 
  color: rgb(0, 0, 0);
}

.header span{
  font-size: 51px;
  line-height: 50px;
  letter-spacing: -2px;
  font-weight: bold;
  font-family: Lato;   
  font-style: italic; 
  font-variant: normal; 
  font-weight: 700; 
}

.sub{
  padding: 20px;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: -2px;
  font-weight: bold;
  font-family: Lato;   
  font-style: italic; 
  font-variant: normal; 
  font-weight: 700; 

}


.wrapper {
  display:grid;
  /* margin: 0 auto; */

}

.map {
    align-content: right; 
    grid-column-start: 2 ;
    grid-row: 2 ;
}
