.wrappers {
   display: flex; 
   align-items: center;
  text-align: center; 
}

.location-input {
    /* grid-area: 1 / col4-start / last-line / 6; */
    background-color: whitesmoke;
    outline-color: rgb(191, 191, 191); 
    width: 800px;
    height: 500px;
    /* justify-content: flex-end;  */
    /* align-content: center;
    text-align: center; */
}

.column1 {
   align-self: flex-start; 
}

.current{
    align-self: flex-end; 
}

#fields {
    padding: 1em; 
}

.location-btn {
    padding-bottom: 1em; 
}