.about-text span {

   justify-items: center;
   align-items: center; 
   background-color: whitesmoke; 
}

.header {

    text-align: center; 
    background-color: rgba(245, 245, 245, 0.651); 
    color: rgb(0, 0, 0);
    font-size: 51px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
    font-family: Lato;   
    font-style: italic; 
    font-variant: normal; 
    font-weight: 700; 
}


.wrapper{
    display:grid;
    max-width: 940px;
    margin: 0 auto;
}